*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

li {
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1.6rem;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --body-bg: white;
  --basic-color: #2a2a2a;
  --nav-menu-list-bottom-border: #2929291a;
  --step-activeAndFinished-circleBorderColor: #2a2a2a;
  --step-inactive-color: #afb1bd;
  --step-connect-line-color: #f0f0f5;
  --input-border: #4a4a4a;
  --input-description: #808080;
  --input-placeholder: #999999;
  --input-select-icon: #2a2a2a;
  --second-form-radio-unchecked-bg-color: white;
  --second-form-unchecked-border-color: #f0f0f5;
  --second-form-radio-checked-border-color: #2a2a2a;
  --second-form-time-description: #2a2a2a;
  --cart-border: #f0f0f5;
  --cart-bg: white;
  --cart-info-divider: #f0f0f5;
  --cart-button-divider: #e6e6eb;
  --footer-bg: #F6F7F8;
  --footer-font-color: #5e5e5e;
  --search-icon: url(/src/images/lightMode-icon/icon-search.png);
  --cart-icon: url(/src/images/lightMode-icon/icon-cart.png);
  --dark-mode-icon: url(/src/images/lightMode-icon/icon-moon.png);
  --plus-icon: url(/src/images/lightMode-icon/icon-plus.png);
  --minus-icon: url(/src/images/lightMode-icon/icon-minus.png);
  --arrow-white: url(/src/images/darkMode-icon/arrow-dark.png);
  --arrow-black: url(/src/images/lightMode-icon/arrow.png);
  --logo: url(.././images/lightMode-icon/logo.png);
  --facebook: url(/src/images/lightMode-icon/icon-fb.png);
  --instagram: url(/src/images/lightMode-icon/icon-ig.png);
  --whatsApp: url(/src/images/lightMode-icon/icon-whatsapp.png);
}

.darkMode {
  --body-bg: #121212;
  --basic-color: white;
  --nav-menu-list-bottom-border: hsla(0, 0%, 100%, 0.4);
  --step-activeAndFinished-circleBorderColor: white;
  --step-inactive-color: hsla(240, 20%, 95%, 0.4);
  --step-connect-line-color: hsla(240, 20%, 95%, 0.4);
  --input-border: #5e5e5e;
  --input-description: #ffffff66;
  --input-placeholder: #ffffff4d;
  --input-select-icon: #5e5e5e;
  --second-form-radio-unchecked-bg-color: #333;
  --second-form-unchecked-border-color: #5e5e5e;
  --second-form-radio-checked-border-color: white;
  --second-form-time-description: rgba(255, 255, 255, 0.4);
  --cart-border: #ffffff33;
  --cart-bg: #383838;
  --cart-info-divider: #ffffff33;
  --cart-button-divider: #ffffff33;
  --footer-bg: #333;
  --footer-font-color: #ffffff99;
  --search-icon: url(/src/images/darkMode-icon/icon-search-dark.png);
  --cart-icon: url(/src/images/darkMode-icon/icon-cart-dark.png);
  --dark-mode-icon: url(/src/images/darkMode-icon/icon-sun.png);
  --plus-icon: url(/src/images/darkMode-icon/icon-plus-dark.png);
  --minus-icon: url(/src/images/darkMode-icon/icon-minus-dark.png);
  --arrow-black: url(/src/images/darkMode-icon/arrow-dark.png);
  --logo: url(/src/images/darkMode-icon/logo-dark.png);
  --facebook: url(/src/images/darkMode-icon/icon-fb-dark.png);
  --instagram: url(/src/images/darkMode-icon/icon-ig-dark.png);
  --whatsApp: url(/src/images/darkMode-icon/icon-whatsapp-dark.png);
}

.form__part-content--row--selectWrapper::after, .header__logo {
  position: absolute;
  transform: translate(-50%, -50%);
}

.form__part-content--row--text, .form__part-content--row--email, .form__part-content--row--number, .form__part-content--row--date, .form__part-content--row--select {
  display: block;
  width: 100%;
  height: 4rem;
  padding-left: 1.6rem;
  border-radius: 0.4rem;
  border-style: solid;
  border-width: 1px;
  border-color: var(--input-border);
  background-color: transparent;
  cursor: pointer;
}

.mrms {
  grid-area: mrms;
}

.name {
  grid-area: name;
}

.phone {
  grid-area: phone;
}

.email {
  grid-area: email;
}

.liveCity {
  grid-area: liveCity;
}

.address {
  grid-area: address;
}

.cardOwner {
  grid-area: cardOwner;
}

.cardNum {
  grid-area: cardNum;
}

.cardDate {
  grid-area: cardDate;
}

.cardCVC-CCV {
  grid-area: cardCVC-CCV;
}

body {
  background-color: var(--body-bg);
}

.main {
  padding: 0 1.5rem;
}
@media (min-width: 1025px) {
  .main {
    padding: 0 12%;
  }
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 4em;
  font-size: 1.4rem;
}
.header__toggleBox {
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
}
.header__toggleBox--style {
  display: block;
  position: relative;
  height: 0.2rem;
  background-color: var(--basic-color);
}
.header__toggleBox--style::after, .header__toggleBox--style::before {
  position: absolute;
  display: block;
  content: "";
  height: 0.2rem;
  background-color: var(--basic-color);
  transform: translateY(-50%);
}
.header__toggleBox--style::before {
  top: 0.95rem;
  width: 75%;
}
.header__toggleBox--style::after {
  top: 1.7rem;
  width: 50%;
}
.header__logo {
  width: 10em;
  height: 1.8em;
  background: var(--logo) center/contain no-repeat;
  top: 50%;
  left: 50%;
}
.header #nav-toggleBox {
  display: none;
}
.header #nav-toggleBox:checked + .nav {
  transform: scaleY(1);
}
@media (min-width: 769px) {
  .header {
    font-size: 1.6rem;
  }
}
@media (min-width: 1025px) {
  .header__toggleBox {
    display: none;
  }
}

.nav {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100vh;
  transform: scaleY(0);
  transition: transform 0.2s;
  transform-origin: top;
  background-color: var(--body-bg);
  z-index: 1;
}
.nav__menu {
  padding: 0;
}
.nav__menu-list {
  padding-block: 2.4rem;
  border-bottom: 2px solid var(--nav-menu-list-bottom-border);
  text-align: center;
}
.nav__menu-list-info {
  text-decoration: none;
  color: var(--basic-color);
}
.nav__menu-list-info:hover {
  color: #f67499;
}
.nav__icons {
  width: 15rem;
  display: flex;
  justify-content: space-between;
  margin: 2.4rem auto;
  height: 2.4rem;
}
.nav__icons-search, .nav__icons-cart, .nav__icons-darkMode {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}
.nav__icons-search {
  background: var(--search-icon) center/contain no-repeat;
}
.nav__icons-cart {
  background: var(--cart-icon) center/contain no-repeat;
}
.nav__icons-darkMode {
  background: var(--dark-mode-icon) center/contain no-repeat;
}
@media (min-width: 1025px) {
  .nav {
    all: unset;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__menu {
    all: unset;
    display: flex;
    justify-content: space-between;
  }
  .nav__menu-list {
    font-size: 1.4rem;
    border-bottom: none;
    margin-right: 1.2em;
  }
}
@media (min-width: 1025px) and (min-width: 1201px) {
  .nav__menu-list {
    font-size: 1.6rem;
  }
}
@media (min-width: 1025px) {
  .nav__icons {
    width: 13rem;
    margin-inline: 0;
  }
}

.information {
  margin-block: 1.6rem 2.4rem;
  font-size: 2.4rem;
  color: var(--basic-color);
}
@media (min-width: 769px) {
  .information {
    font-size: 3.2rem;
    margin-block: 8rem 4.8rem;
  }
}

.main-content {
  display: grid;
  grid-template-rows: auto 2.4rem auto 3.2rem auto 3.2rem auto;
  grid-template-areas: "stepper" "." "form" "." "cart" "." "btn";
}
@media (min-width: 769px) {
  .main-content {
    grid-template-columns: 17fr 4fr 14fr;
    grid-template-rows: auto 6.4rem auto 4.8rem auto;
    grid-template-areas: "stepper . cart" ". . cart" "form . cart" ". . cart" "btn . cart";
  }
}

.stepper {
  grid-area: stepper;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}
.stepper__info {
  position: relative;
  display: flex;
  align-items: center;
}
.stepper__info-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 0.1rem solid var(--step-inactive-color);
  color: var(--step-inactive-color);
}
.stepper__info-title {
  display: none;
}
@media (min-width: 527px) {
  .stepper__info-title {
    display: block;
    margin-left: 0.8rem;
    color: var(--step-inactive-color);
  }
}
.stepper__connect-line {
  display: block;
  width: 15%;
  height: 0.1rem;
  background-color: var(--step-inactive-color);
}
@media (min-width: 769px) {
  .stepper {
    font-size: 1.2rem;
  }
}

.finish + .stepper__connect-line,
.active + .stepper__connect-line {
  background-color: var(--step-activeAndFinished-circleBorderColor);
}
.finish .stepper__info-title,
.active .stepper__info-title {
  color: var(--step-activeAndFinished-circleBorderColor);
}

.finish .stepper__info-circle {
  border: none;
  background-color: #333;
}
.finish .stepper__info-circle::after {
  content: "";
  display: block;
  width: 80%;
  height: 80%;
  background: url(/src/images/icon-check.png) center/contain no-repeat;
}
.finish .stepper__info-circle--number {
  display: none;
}

.active .stepper__info-circle {
  border-color: var(--basic-color);
}
.active .stepper__info-circle--number {
  color: var(--basic-color);
}

.form {
  grid-area: form;
}
.form__part-title {
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  color: var(--basic-color);
}
.form__first, .form__third {
  display: grid;
}
.form__first {
  grid-template-columns: 4fr 3rem 5fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "mrms . name" "phone phone phone" "email email email" "liveCity liveCity liveCity" "address address address";
  row-gap: 1.6rem;
}
@media (min-width: 769px) {
  .form__first {
    grid-template-columns: 5fr 1fr 2fr 1fr 8fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "mrms . name name name" "phone phone phone . email" "liveCity . address address address";
  }
}
.form__part-content--row--title {
  font-size: 1.2rem;
  color: var(--input-description);
}
.form__part-content--row--text::placeholder, .form__part-content--row--email::placeholder, .form__part-content--row--number::placeholder, .form__part-content--row--date::placeholder, .form__part-content--row--select::placeholder {
  font-size: 1.2rem;
  color: var(--input-placeholder);
}
.form__part-content--row--text:valid, .form__part-content--row--email:valid, .form__part-content--row--number:valid, .form__part-content--row--date:valid, .form__part-content--row--select:valid {
  font-size: 1.2rem;
  color: var(--basic-color);
}
.form__part-content--row--text:invalid, .form__part-content--row--email:invalid, .form__part-content--row--number:invalid, .form__part-content--row--date:invalid, .form__part-content--row--select:invalid {
  font-size: 1.2rem;
  color: var(--input-placeholder);
}
.form__part-content--row--selectWrapper {
  position: relative;
  width: 100%;
  z-index: 0;
}
.form__part-content--row--selectWrapper::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 0;
  border-style: solid;
  border-width: 0.5rem 0.45rem 0;
  border-color: var(--input-select-icon) transparent transparent;
  z-index: -1;
}
.form__part-content--row--select {
  appearance: none;
}
.form__second-delivery {
  height: 6rem;
  display: flex;
  justify-content: start;
  padding: 1rem 2rem;
  border: 1px solid var(--second-form-unchecked-border-color);
  border-radius: 0.4rem;
  cursor: pointer;
}
.form__second-delivery:first-child {
  margin-bottom: 2.4rem;
}
.form__second-delivery--radio {
  appearance: none;
  flex-basis: 2rem;
  height: 2rem;
  margin-right: 2rem;
  border: 1px solid #333;
  border-radius: 50%;
  background-color: var(--second-form-radio-unchecked-bg-color);
}
.form__second-delivery--radio:checked {
  background-color: white;
  border-width: 0.6rem;
}
.form__second-delivery-info {
  flex: 1;
  color: var(--basic-color);
}
.form__second-delivery-info-detail {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}
.form__second-delivery-info-detail--time {
  font-size: 1.2rem;
  color: var(--second-form-time-description);
}
@media (min-width: 769px) {
  .form__second {
    margin-bottom: 9.6rem;
  }
}
.form .checked {
  border-color: var(--second-form-radio-checked-border-color);
}
.form__third {
  grid-template-columns: 1fr 3rem 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "cardOwner cardOwner cardOwner" "cardNum cardNum cardNum" "cardDate . cardCVC-CCV";
  row-gap: 1.6rem;
}
@media (min-width: 769px) {
  .form__third {
    grid-template-columns: 8fr 1fr 3fr 5fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "cardOwner cardOwner cardOwner ." "cardNum cardNum cardNum ." "cardDate . cardCVC-CCV cardCVC-CCV";
  }
}

.d-none {
  display: none;
}

.cart {
  grid-area: cart;
  min-height: 35.8rem;
  max-height: 49.2rem;
  padding: 1.6rem;
  border: 1px solid var(--cart-border);
  border-radius: 0.8rem;
  color: var(--basic-color);
  background-color: var(--cart-bg);
}
.cart__title {
  display: none;
}
.cart__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}
.cart__item-picture {
  width: 10rem;
  height: 10rem;
}
.cart__item-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}
.cart__item-content-amout {
  width: 11.6rem;
  height: 2.7rem;
  display: flex;
  justify-content: space-between;
}
.cart__item-content-amout--btn {
  height: 100%;
  aspect-ratio: 1;
  cursor: pointer;
}
.cart__item-content-amout .minus {
  background: var(--minus-icon) center/contain no-repeat;
}
.cart__item-content-amout .plus {
  background: var(--plus-icon) center/contain no-repeat;
}
@media (min-width: 1201px) {
  .cart__item-content {
    flex: 1;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 1fr 2fr;
    grid-auto-flow: column;
    align-items: start;
    margin-left: 2.1rem;
  }
}
.cart__deliveryFee, .cart__price {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;
  border-top: 1px solid var(--cart-info-divider);
}
.cart__price {
  padding-bottom: 0;
}
@media (min-width: 769px) {
  .cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.4rem;
  }
  .cart__title {
    display: block;
    margin-top: 0.8rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--basic-color);
  }
  .cart__price {
    padding-bottom: 1.6rem;
  }
}

.btns {
  grid-area: btn;
  padding-top: 2.4rem;
  margin-bottom: 4rem;
  border-top: 2px solid var(--cart-button-divider);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btns__prev, .btns__next {
  width: 15rem;
  border-radius: 0.8rem;
  display: flex;
  cursor: pointer;
}
@media (min-width: 426px) {
  .btns__prev, .btns__next {
    width: 17rem;
  }
}
.btns__prev-icon, .btns__next-icon {
  width: 2.4rem;
  height: 2.4rem;
}
.btns__prev {
  color: var(--basic-color);
}
.btns__prev-icon {
  margin-right: 1.2rem;
  background: var(--arrow-black) center/contain no-repeat;
}
.btns__next {
  padding: 1rem 3rem;
  background-color: #f67499;
  color: white;
  display: flex;
  justify-content: center;
}
.btns__next-text {
  margin-right: 1.2rem;
}
.btns__next-icon {
  background: var(--arrow-white) center/contain no-repeat;
  transform: rotate(180deg);
}
.btns .disabled {
  display: none;
}
.btns .disabled + .btns__next {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer {
  display: none;
}
.footer__logo {
  width: 10em;
  height: 1.8em;
  background: var(--logo) center/contain no-repeat;
  align-self: center;
}
@media (min-width: 769px) {
  .footer {
    display: block;
    display: flex;
    justify-content: space-between;
    padding: 6.4rem 1.5rem 8rem;
    font-size: 1.4rem;
    background-color: var(--footer-bg);
  }
  .footer__section-title {
    color: var(--basic-color);
  }
  .footer__section-lists {
    padding: 0;
    margin: 1.5em 0 0;
  }
  .footer__section-list--text {
    margin-bottom: 0.5em;
    text-decoration: none;
    color: var(--footer-font-color);
  }
  .footer__section-list--text:hover {
    color: #f67499;
  }
  .footer__section:last-child .footer__section-title {
    margin-bottom: 1em;
  }
  .footer__section-socialMedia {
    width: 10rem;
    height: 2.4rem;
    display: flex;
    justify-content: space-between;
  }
  .footer__section-socialMedia-FB, .footer__section-socialMedia-IG, .footer__section-socialMedia-WA {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
  }
  .footer__section-socialMedia-FB {
    background: var(--facebook) center/contain no-repeat;
  }
  .footer__section-socialMedia-IG {
    background: var(--instagram) center/contain no-repeat;
  }
  .footer__section-socialMedia-WA {
    background: var(--whatsApp) center/contain no-repeat;
  }
}
@media (min-width: 1025px) {
  .footer {
    font-size: 1.6rem;
    padding-inline: 12%;
  }
}

/*# sourceMappingURL=style.css.map */
