// colors
$main-button-color: hsl(343, 88%, 71%);
$basic-dark: hsl(0, 0%, 16%);
$white: white;
$gray-1: #f0f0f5;
$gray-2: #afb1bd;
$gray-3: #4a4a4a;
$gray-4: #808080;
$gray-5: #999;
$gray-6: #5e5e5e;
$gray-7: #333;
$gray-8: #e6e6eb;
$gray-9: #F6F7F8;

// setting
:root {
  --body-bg: white;
  --basic-color: #{$basic-dark};

  --step-activeAndFinished-circleBorderColor: #{$basic-dark};
  --step-circle-bgc: transparent;
  --step-inactive-color: #{$gray-2};
  --step-connect-line-color: #{$gray-1};

  --input-border: #{$gray-3};
  --input-description: #{$gray-4};
  --input-placeholder: #999999;
  --input-select: #{$basic-dark};

  --box-unchecked-bg-color: #{$white};
  --box-unchecked-border-color: #{$gray-1};
  // --box-checked-bg-color: #{$basic-dark};
  --box-checked-border-color: #{$basic-dark};

  --cart-border: #{$gray-1};
  --cart-bg: white;
  --cart-info-divider: #{$gray-1};
  
  --cart-button-divider: #{$gray-8};

  --footer-bg: #{$gray-9};
  --footer-font-color: #{$gray-6};

  --search-icon: url(/src/images/lightMode-icon/icon-search.png);
  --cart-icon: url(/src/images/lightMode-icon/icon-cart.png);
  --dark-mode-icon: url(/src/images/lightMode-icon/icon-moon.png);
  --plus-icon: url(/src/images/lightMode-icon/icon-plus.png);
  --minus-icon: url(/src/images/lightMode-icon/icon-minus.png);
  --arrow-white: url(/src/images/darkMode-icon/arrow-dark.png);
  --arrow-black: url(/src/images/lightMode-icon/arrow.png);
  --logo: url(/src/images/lightMode-icon/logo.png);
  --facebook: url(/src/images/lightMode-icon/icon-fb.png);
  --instagram: url(/src/images/lightMode-icon/icon-ig.png);
  --whatsApp: url(/src/images/lightMode-icon/icon-whatsapp.png);
}

.darkMode {
  --body-bg: hsl(0, 0%, 7%);
  --basic-color: #{$white};

  --step-activeAndFinished-circleBorderColor: transparent;
  --step-circle-bgc: #{$gray-7};
  --step-inactive-color: hsla(240, 20%, 95%, 0.4);
  --step-connect-line-color: hsla(240, 20%, 95%, 0.4);

  --input-border: #{$gray-6};
  --input-description: hsla(0, 0%, 100%, 0.4);
  --input-placeholder: rgba(255, 255, 255, 0.3);
  --input-select: #{$gray-6};

  --box-unchecked-bg-color: #{$gray-7};
  --box-unchecked-border-color: #{$gray-6};
  // --box-checked-bg-color: #{$gray-7};
  --box-checked-border-color: #{$white};

  --cart-border: hsla(0, 0%, 100%, 0.2);
  --cart-bg: hsl(0, 0%, 22%);
  --cart-button-content: #{$gray-7};
  --cart-info-divider: hsla(0, 0%, 100%, 0.2);

  --cart-button-divider: hsla(0, 0%, 100%, 0.2);

  --footer-bg: #{$gray-7};
  --footer-font-color: rgba(255, 255, 255, 0.6);

  --search-icon: url(/src/images/darkMode-icon/icon-search-dark.png);
  --cart-icon: url(/src/images/darkMode-icon/icon-cart-dark.png);
  --dark-mode-icon: url(/src/images/darkMode-icon/icon-sun.png);
  --plus-icon: url(/src/images/darkMode-icon/icon-plus-dark.png);
  --minus-icon: url(/src/images/darkMode-icon/icon-minus-dark.png);
  --arrow-black: url(/src/images/darkMode-icon/arrow-dark.png);
  --logo: url(/src/images/darkMode-icon/logo-dark.png);
  --facebook: url(/src/images/darkMode-icon/icon-fb-dark.png);
  --instagram: url(/src/images/darkMode-icon/icon-ig-dark.png);
  --whatsApp: url(/src/images/darkMode-icon/icon-whatsapp-dark.png);
}