// colors
$main-button-color: #f67499;
$basic-dark: #2a2a2a;
$white: white;
$gray-1: #f0f0f5;
$gray-2: #afb1bd;
$gray-3: #4a4a4a;
$gray-4: #808080;
$gray-5: #999;
$gray-6: #5e5e5e;
$gray-7: #333;
$gray-8: #e6e6eb;
$gray-9: #F6F7F8;

// setting
:root {
  --body-bg: white;
  --basic-color: #{$basic-dark};

  --nav-menu-list-bottom-border: #2929291a;

  --step-activeAndFinished-circleBorderColor: #{$basic-dark};
  --step-inactive-color: #{$gray-2};
  --step-connect-line-color: #{$gray-1};

  --input-border: #{$gray-3};
  --input-description: #{$gray-4};
  --input-placeholder: #999999;
  --input-select-icon: #{$basic-dark};

  --second-form-radio-unchecked-bg-color: #{$white};
  --second-form-unchecked-border-color: #{$gray-1};
  --second-form-radio-checked-border-color: #{$basic-dark};
  --second-form-time-description: #{$basic-dark};

  --cart-border: #{$gray-1};
  --cart-bg: white;
  --cart-info-divider: #{$gray-1};
  
  --cart-button-divider: #{$gray-8};

  --footer-bg: #{$gray-9};
  --footer-font-color: #{$gray-6};

  --search-icon: url(../images/lightMode-icon/icon-search.png);
  --cart-icon: url(../images/lightMode-icon/icon-cart.png);
  --dark-mode-icon: url(../images/lightMode-icon/icon-moon.png);
  --plus-icon: url(../images/lightMode-icon/icon-plus.png);
  --minus-icon: url(../images/lightMode-icon/icon-minus.png);
  --arrow-white: url(../images/darkMode-icon/arrow-dark.png);
  --arrow-black: url(../images/lightMode-icon/arrow.png);
  --logo: url(/src/images/lightMode-icon/logo.png);
  --facebook: url(../images/lightMode-icon/icon-fb.png);
  --instagram: url(../images/lightMode-icon/icon-ig.png);
  --whatsApp: url(../images/lightMode-icon/icon-whatsapp.png);
}

.darkMode {
  --body-bg: #121212;
  --basic-color: #{$white};

  --nav-menu-list-bottom-border: hsla(0, 0%, 100%, 0.4);

  --step-activeAndFinished-circleBorderColor: white;
  --step-inactive-color: hsla(240, 20%, 95%, 0.4);
  --step-connect-line-color: hsla(240, 20%, 95%, 0.4);

  --input-border: #{$gray-6};
  --input-description: #ffffff66;
  --input-placeholder: #ffffff4d;
  --input-select-icon: #{$gray-6};

  --second-form-radio-unchecked-bg-color: #{$gray-7};
  --second-form-unchecked-border-color: #{$gray-6};
  --second-form-radio-checked-border-color: #{$white};
  --second-form-time-description: rgba(255, 255, 255, 0.4);

  --cart-border: #ffffff33;
  --cart-bg: #383838;
  --cart-info-divider: #ffffff33;

  --cart-button-divider: #ffffff33;

  --footer-bg: #{$gray-7};
  --footer-font-color: #ffffff99;

  --search-icon: url(../images/darkMode-icon/icon-search-dark.png);
  --cart-icon: url(../images/darkMode-icon/icon-cart-dark.png);
  --dark-mode-icon: url(../images/darkMode-icon/icon-sun.png);
  --plus-icon: url(../images/darkMode-icon/icon-plus-dark.png);
  --minus-icon: url(../images/darkMode-icon/icon-minus-dark.png);
  --arrow-black: url(../images/darkMode-icon/arrow-dark.png);
  --logo: url(../images/darkMode-icon/logo-dark.png);
  --facebook: url(../images/darkMode-icon/icon-fb-dark.png);
  --instagram: url(../images/darkMode-icon/icon-ig-dark.png);
  --whatsApp: url(../images/darkMode-icon/icon-whatsapp-dark.png);
}