@import "./reset";
@import "./breakpoints";
@import "./variables";

// placeholder
%positionCenter {
  position: absolute;
  transform: translate(-50%, -50%);
}

%inputStyle {
  display: block;
  width: 100%;
  height: 4rem;
  padding-left: 1.6rem;
  border-radius: 0.4rem;
  border-style: solid;
  border-width: 1px;
  border-color: var(--input-border);
  background-color: transparent;
  cursor: pointer;
}

// mixins
@mixin flexArrange($jc-val: false, $ai-val: false) {
  display: flex;
  @if ($jc-val) {
    justify-content: $jc-val;
  }
  @if ($ai-val) {
    align-items: $ai-val;
  }
}

// plus gird-area
$gridAreaList: mrms, name, phone, email, liveCity, address, cardOwner, cardNum,
  cardDate, cardCVC-CCV;
@each $val in $gridAreaList {
  .#{$val} {
    grid-area: $val;
  }
}

::-webkit-scrollbar {
  /* make scrollbar transparent */
  width: 0px;
  background: transparent;
}

body {
  background-color: var(--body-bg);
}

.main {
  padding: 0 1.5rem;
  @include lg {
    padding: 0 12%;
  }
}

.header {
  position: relative;
  @include flexArrange(false, center);
  height: 4em;
  font-size: 1.4rem;
  &__toggleBox {
    width: 2rem;
    height: 1.5rem;
    cursor: pointer;
    &--style {
      display: block;
      position: relative;
      height: 0.2rem;
      background-color: var(--basic-color);
      &::after,
      &::before {
        position: absolute;
        display: block;
        content: "";
        height: 0.2rem;
        background-color: var(--basic-color);
        transform: translateY(-50%);
      }
      &::before {
        top: 0.95rem;
        width: 75%;
      }
      &::after {
        top: 1.7rem;
        width: 50%;
      }
    }
  }
  &__logo {
    width: 10em;
    height: 1.8em;
    background: var(--logo) center/contain no-repeat;
    @extend %positionCenter;
    top: 50%;
    left: 50%;
  }
  #nav-toggleBox {
    display: none;
    &:checked + .nav {
      transform: scaleY(1);
    }
  }
  @include md {
    font-size: 1.6rem;
  }
  @include lg {
    &__toggleBox {
      display: none;
    }
  }
}

.nav {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100vh;
  transform: scaleY(0);
  transition: transform 0.2s;
  transform-origin: top;
  background-color: var(--body-bg);
  z-index: 1;
  &__menu {
    padding: 0;
    &-list {
      padding-block: 2.4rem;
      border-bottom: 2px solid var(--nav-menu-list-bottom-border);
      text-align: center;
      &-info {
        text-decoration: none;
        color: var(--basic-color);
        &:hover {
          color: $main-button-color;
        }
      }
    }
  }
  &__icons {
    width: 15rem;
    @include flexArrange(space-between);
    margin: 2.4rem auto;
    height: 2.4rem;
    &-search,
    &-cart,
    &-darkMode {
      width: 2.4rem;
      height: 2.4rem;
      cursor: pointer;
    }
    &-search {
      background: var(--search-icon) center/contain no-repeat;
    }
    &-cart {
      background: var(--cart-icon) center/contain no-repeat;
    }
    &-darkMode {
      background: var(--dark-mode-icon) center/contain no-repeat;
    }
  }
  @include lg {
    all: unset;
    width: 100%;
    height: 100%;
    @include flexArrange(space-between, center);
    &__menu {
      all: unset;
      width: 33%;
      @include flexArrange(space-between);
      &-list {
        font-size: 1.4rem;
        border-bottom: none;
        @include xl {
          font-size: 1.6rem;
        }
      }
    }
    &__icons {
      width: 13rem;
      margin-inline: 0;
    }
  }
}

.information {
  margin-block: 1.6rem 2.4rem;
  font-size: 2.4rem;
  color: var(--basic-color);
  @include md {
    font-size: 3.2rem;
    margin-block: 8rem 4.8rem;
  }
}

.main-content {
  display: grid;
  grid-template-rows: auto 2.4rem auto 3.2rem auto 3.2rem auto;
  grid-template-areas:
    "stepper"
    "."
    "form"
    "."
    "cart"
    "."
    "btn";
  @include md {
    grid-template-columns: 17fr 4fr 14fr;
    grid-template-rows: auto 6.4rem auto 4.8rem auto;
    grid-template-areas:
      "stepper . cart"
      ". . cart"
      "form . cart"
      ". . cart"
      "btn . cart";
  }
}

.stepper {
  grid-area: stepper;
  @include flexArrange(space-between, center);
  font-size: 1.6rem;
  &__info {
    position: relative;
    @include flexArrange(false, center);
    &-circle {
      @include flexArrange(center, center);
      width: 2em;
      height: 2em;
      border-radius: 50%;
      border: 0.1rem solid var(--step-inactive-color);
      color: var(--step-inactive-color);
    }
    &-title {
      display: none;
      @include breakpoint(527px) {
        display: block;
        margin-left: 0.8rem;
        color: var(--step-inactive-color);
      }
    }
  }
  &__connect-line {
    display: block;
    width: 15%;
    height: 0.1rem;
    background-color: var(--step-inactive-color);
  }
  @include md {
    font-size: 1.2rem;
  }
}
.finish,
.active {
  & + .stepper__connect-line {
    background-color: var(--step-activeAndFinished-circleBorderColor);
  }
  .stepper__info-title {
    color: var(--step-activeAndFinished-circleBorderColor);
  }
}
.finish {
  .stepper__info-circle {
    border: none;
    background-color: $gray-7;
    &::after {
      content: "";
      display: block;
      width: 80%;
      height: 80%;
      background: url("../images/icon-check.png") center/contain no-repeat;
    }
    &--number {
      display: none;
    }
  }
}
.active {
  .stepper__info-circle {
    border-color: var(--basic-color);
    &--number {
      color: var(--basic-color);
    }
  }
}

.form {
  grid-area: form;
  &__part-title {
    margin-bottom: 2.4rem;
    font-size: 2.4rem;
    color: var(--basic-color);
  }
  &__first,
  &__third {
    display: grid;
  }
  &__first {
    grid-template-columns: 4fr 3rem 5fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "mrms . name"
      "phone phone phone"
      "email email email"
      "liveCity liveCity liveCity"
      "address address address";
    row-gap: 1.6rem;
    @include md {
      grid-template-columns: 5fr 1fr 2fr 1fr 8fr;
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
        "mrms . name name name"
        "phone phone phone . email"
        "liveCity . address address address";
    }
  }
  &__part-content--row {
    &--title {
      font-size: 1.2rem;
      color: var(--input-description);
    }
    &--text,
    &--email,
    &--number,
    &--date,
    &--select {
      @extend %inputStyle;
      &::placeholder {
        font-size: 1.2rem;
        color: var(--input-placeholder);
      }
      &:valid {
        font-size: 1.2rem;
        color: var(--basic-color);
      }
      &:invalid {
        font-size: 1.2rem;
        color: var(--input-placeholder);
      }
    }
    &--selectWrapper {
      position: relative;
      width: 100%;
      z-index: 0;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 1rem;
        @extend %positionCenter;
        width: 0;
        border-style: solid;
        border-width: 0.5rem 0.45rem 0;
        border-color: var(--input-select-icon) transparent transparent;
        z-index: -1;
      }
    }
    &--select {
      appearance: none;
    }
  }
  &__second {
    &-delivery {
      height: 6rem;
      @include flexArrange(start);
      padding: 1rem 2rem;
      border: 1px solid var(--second-form-unchecked-border-color);
      border-radius: 0.4rem;
      cursor: pointer;
      &:first-child {
        margin-bottom: 2.4rem;
      }
      &--radio {
        appearance: none;
        flex-basis: 2rem;
        height: 2rem;
        margin-right: 2rem;
        border: 1px solid #333;
        border-radius: 50%;
        background-color: var(--second-form-radio-unchecked-bg-color);
        &:checked {
          background-color: white;
          border-width: 0.6rem;
        }
      }
      &-info {
        flex: 1;
        color: var(--basic-color);
        &-detail {
          @include flexArrange(space-between);
          font-size: 1.4rem;
          &--time {
            font-size: 1.2rem;
            color: var(--second-form-time-description);
          }
        }
      }
    }
    @include md {
      margin-bottom: 9.6rem;
    }
  }
  .checked {
    border-color: var(--second-form-radio-checked-border-color);
  }
  &__third {
    grid-template-columns: 1fr 3rem 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "cardOwner cardOwner cardOwner"
      "cardNum cardNum cardNum"
      "cardDate . cardCVC-CCV";
    row-gap: 1.6rem;
    @include md {
      grid-template-columns: 8fr 1fr 3fr 5fr;
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
        "cardOwner cardOwner cardOwner ."
        "cardNum cardNum cardNum ."
        "cardDate . cardCVC-CCV cardCVC-CCV";
    }
  }
}
.d-none {
  display: none;
}

.cart {
  grid-area: cart;
  min-height: 35.8rem;
  max-height: 49.2rem;
  padding: 1.6rem;
  border: 1px solid var(--cart-border);
  border-radius: 0.8rem;
  color: var(--basic-color);
  background-color: var(--cart-bg);
  &__title {
    display: none;
  }
  &__item {
    @include flexArrange(space-between);
    margin-bottom: 1.6rem;
    &-picture {
      width: 10rem;
      height: 10rem;
    }
    &-content {
      @include flexArrange(space-between, flex-end);
      flex-direction: column;
      &-amout {
        width: 11.6rem;
        height: 2.7rem;
        @include flexArrange(space-between);
        &--btn {
          height: 100%;
          aspect-ratio: 1;
          cursor: pointer;
        }
        & .minus,
        & .plus {
          // background: var(--minus-icon) center/contain no-repeat;
          padding: 0;
          border-radius: 50%;
          border: none;
          font-weight: bold;
          font-size: 2.4rem;
          line-height: 100%;
          background-color: var(--cart-btn-bg);
        }
        // & .plus {
        //   background: var(--plus-icon) center/contain no-repeat;
        // }
        // input 內容
        &--number {
          border:  none;
          text-align: center;
          width: 3ch;
          background-color: transparent;
          color: var(--basic-color);
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            appearance: none;
            margin: 0;
          }
        }
      }
      @include xl {
        flex: 1;
        display: grid;
        grid-template-columns: max-content max-content;
        grid-template-rows: 1fr 2fr;
        grid-auto-flow: column;
        align-items: start;
        margin-left: 2.1rem;
      }
    }
  }
  &__deliveryFee,
  &__price {
    @include flexArrange(space-between);
    padding: 1.6rem;
    border-top: 1px solid var(--cart-info-divider);
  }
  &__price {
    padding-bottom: 0;
  }
  @include md {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.4rem;
    &__title {
      display: block;
      margin-top: 0.8rem;
      font-size: 1.8rem;
      font-weight: bold;
      color: var(--basic-color);
    }
    &__price {
      padding-bottom: 1.6rem;
    }
  }
}

.btns {
  grid-area: btn;
  padding-top: 2.4rem;
  margin-bottom: 4rem;
  border-top: 2px solid var(--cart-button-divider);
  @include flexArrange(space-between, center);
  &__prev,
  &__next {
    width: 15rem;
    border-radius: 0.8rem;
    display: flex;
    cursor: pointer;
    @include sm {
      width: 17rem;
    }
    &-icon {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
  &__prev {
    color: var(--basic-color);
    &-icon {
      margin-right: 1.2rem;
      background: var(--arrow-black) center/contain no-repeat;
    }
  }
  &__next {
    padding: 1rem 3rem;
    background-color: $main-button-color;
    color: white;
    @include flexArrange(center);
    &-text {
      margin-right: 1.2rem;
    }
    &-icon {
      background: var(--arrow-white) center/contain no-repeat;
      transform: rotate(180deg);
    }
  }
  .disabled {
    display: none;
    + .btns__next {
      width: 100%;
      @include flexArrange(center);
    }
    @include md {
      display: block;
      visibility: hidden;
      + .btns__next {
        width: 17rem;
      }
    }
  }
}

.footer {
  display: none;
  &__logo {
    width: 10em;
    height: 1.8em;
    background: var(--logo) center/contain no-repeat;
    align-self: center;
  }
  @include md {
    @include flexArrange(space-between);
    padding: 6.4rem 1.5rem 8rem;
    font-size: 1.4rem;
    background-color: var(--footer-bg);
    &__section {
      &-title {
        color: var(--basic-color);
      }
      &-lists {
        padding: 0;
        margin: 1.5em 0 0;
      }
      &-list--text {
        margin-bottom: 0.5em;
        text-decoration: none;
        color: var(--footer-font-color);
        &:hover {
          color: $main-button-color;
        }
      }
      &:last-child .footer__section-title {
        margin-bottom: 1em;
      }
      &-socialMedia {
        width: 10rem;
        height: 2.4rem;
        @include flexArrange(space-between);
        &-FB,
        &-IG,
        &-WA {
          width: 2.4rem;
          height: 2.4rem;
          cursor: pointer;
        }
        &-FB {
          background: var(--facebook) center/contain no-repeat;
        }
        &-IG {
          background: var(--instagram) center/contain no-repeat;
        }
        &-WA {
          background: var(--whatsApp) center/contain no-repeat;
        }
      }
    }
  }
  @include lg {
    font-size: 1.6rem;
    padding-inline: 12%;
  }
}
